<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width">
    <title>Events</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="map"><a href="events.html">Events</a> / <span id=event-map></span></div>
    <div id="event-details" class="event-details">
      <p class="notif-text">You are about to score some tickets to</p>
      <p class="event-title" id="event-title"></p>
      <p class="event-date-time" id="event-date-time"></p>
      <p class="event-venue" id="event-venue"></p>
      <p class="event-price" id="event-price"></p>
      <p class="tickets-left" id="tickets-left"></p>
      <input id="order-button" class="order-button" type="button" name="order" value="Order">
    </div>
    <script src="buy.js" charset="utf-8"></script>
  </body>
</html>
