<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width">
    <title>Staff Login</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body style="background-color: rgb(243, 148, 64);">
    <div class="login-wrapper">
      <div class="logo"><img src="img/logo.png" width="100" height="100" alt=""> <br><span><b>Where It's @</b></span><br><span>STAFF</span></div>
      <div class="login-container">
        <form>
            <div class="textfield"><input id="username" type="text" name="username" placeholder="username"></div>
            <div class="textfield"><input id="password" type="password" name="password" placeholder="password"></div>
            <div class="loginbutton"><input id="loginButton" type="button" name="login" value="Login"></div>
        </form>
      </div>
    </div>
    <script src="login.js"></script>
  </body>
</html>
