<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width">
    <title>Ticket Purchased</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body style="background-image: linear-gradient(rgb(242, 105, 154), rgb(35, 31, 66));">
    <div class="ticket-grid-container">
      <div class="ticket-grid-item what"><span class="ticket-title">WHAT</span><br><br><span id="ticket-what" class="ticket-what"></span></div>
      <div class="ticket-grid-item where"><span class="ticket-title">WHERE</span><br><br><span id="ticket-where" class="ticket-where"></span></div>
      <div class="ticket-grid-item when"><span class="ticket-title">WHEN</span><br><br><span id="ticket-when" class="ticket-time"></span></div>
      <div class="ticket-grid-item from"><span class="ticket-title">FROM</span><br><br><span id="ticket-from" class="ticket-time"></span></div>
      <div class="ticket-grid-item to"><span class="ticket-title">TO</span><br><br><span id="ticket-to" class="ticket-time"></span></div>
      <div class="ticket-grid-item barcode"><img src="img/A2ED7barcode.png"/><br><br><span id="ticket-number-title" class="ticket-number">Ticket Number: </span><span id="ticket-number-value" class="ticket-number"></div>
    </div>
    <script src="ticket.js"></script>
  </body>
</html>
